{% extends 'base.html' %}
{% block title %} My Profile {% endblock %}
{% block body %}

<div class="container">
  {% for username in user_name %}
  <p>Hello <b>{{username}}</b></p>
  {% endfor %}
  <h2>My Wishlist</h2>
  <div>
    <table border=2 width="75%">
      <thead>
        <tr bgcolor="#dcdcdc">
          <th>Song</th>
          <th>Album</th>
          <th>Artist</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          {% for username, song_name, album_name, artist_name in wishs %}
          <td>{{song_name}}</td>
          <td>{{album_name}}</td>
          <td>{{artist_name}}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>

<br>

<div class="container">
  <h2>My Online Concert Registration</h2>
  <div>
    <table border=2 width="75%">
      <thead>
        <tr bgcolor="#dcdcdc">
          <th>Artist</th>
          <th>Concert name</th>
          <th>Time</th>
          <th>Link</th>
        </tr>
      </thead>

      <tbody>
        {% for artist_name, concert_name, concert_time, link in concert_reg %}
        <tr>
          <td>{{artist_name}}</td>
          <td>{{concert_name}}</td>
          <td>{{concert_time}}</td>
          <td>{{link}}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>
<br>

<div class="container">
  <h2>Recommendations</h2>
  <div>
    <table border=2 width="75%">
      <thead>
        <tr bgcolor="#dcdcdc">
          <th>Song</th>
          <th>Album</th>
          <th>Artist</th>
          <th>Popularity</th>
        </tr>
      </thead>

      <tbody>
        {% for song_name, album_name, artist_time, popularity in recommendations %}
        <tr>
          <td>{{song_name}}</td>
          <td>{{album_name}}</td>
          <td>{{artist_time}}</td>
          <td>{{popularity}}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>
<br>
{% endblock %}