{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block body %}
<div class="container">
<h4>Please sign up!</h4>
<p>Create an account on SpotiNet</p>
</div>
  <form action="{{ url_for('register')}}", method="POST">
    <div class="container">
      {{ form.username(class_='form-control', placeholder='Username', autocomplete='off', autofocus=true)}}
      <ul>
        {% for error in form.username.errors %}
        <li>
          {{ error }}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="container">
      {{ form.password(class_='form-control', placeholder='Password')}}
      <ul>
        {% for error in form.password.errors %}
        <li>
          {{ error }}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="container">
      {{ form.submit_button }}
    </div>
    {{ form.csrf_token }}
  </form>
  <br>
  {% endblock %}